<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My Portfolio</h1>
      <p class="lead text-body-secondary">In this portfolio, you'll find a showcase of some of my projects developed over the years. Take a look around to see the different types of things I enjoy creating!</p>
      <p>
        <%= link_to "Find Out More About Me", about_path, class: "btn btn-primary my-2" %>
        <%= link_to "My Blog", blogs_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </div>
</section>
