<h1>About me</h1>

<hr>

<p>Enthusiastic software developer with a passion for learning and continuous improvement. Seeking growth in an innovative tech environment, I thrive on effective communication, understanding, and motivating others. I believe in the power of continuous professional and personal development to stay competitive, unlock new opportunities, and advance my career.</p>

<p>Over the past 4 years, I have been fortunate to contribute to the development and growth of a couple of well-known and successful products. As a Ruby on Rails developer, I have been involved in all stages of the Agile software development lifecycle, including requirements gathering and analysis, estimation, design, development, testing, and documentation changes.</p>

<p>In addition to my professional experience, I am also highly organized and detail-oriented. I am able to work well under pressure and am committed to achieving goals and meeting deadlines.</p>