<h1>Welcome.</h1>

<p class="lead">Imagine crafting something out of nothing, where your ideas materialize with a few keystrokes. Software development isn't just about writing lines of code; it's about solving puzzles, creating solutions, and pushing the boundaries of what's possible.</p>
<p class="lead">
  <%= link_to "About Me", about_path, class: "btn btn-lg btn-light fw-bold border-white bg-white" %>
</p>
